doctype html
html(lang="en")
  head
    title= "Bee Generator"
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    link(href='/main.css' rel='stylesheet')
    body(style='background-color:#a5c6d8;')

        br
        br
        br

        left
            .bee
                if (filiere=="telecom")
                        img(src='http://localhost:4000/abeilles/abeille_sortie_accessories0.svg' width="600" height="600")
                else if (filiere=="info")
                    img(src='http://localhost:4000/abeilles/abeille_sortie_accessories1.svg' width="600" height="600")
                else if (filiere=="matmeca")
                    img(src='http://localhost:4000/abeilles/abeille_sortie_accessories2.svg' width="600" height="600")
                else if (filiere=="elec")
                    img(src='http://localhost:4000/abeilles/abeille_sortie_accessories3.svg' width="600" height="600")
                
            .login-box
                .telecom
                    form(method='POST' action='/generate?filiere=telecom')
                        a(href='/generate?filiere=telecom')
                            span
                            span
                            span 
                            span
                            |       Telecom
                .info
                    form(method='POST' action='/generate?filiere=info')
                        a(href='/generate?filiere=info')
                            span
                            span
                            span
                            span
                            |       Informatique
                .matmeca
                form(method='POST' action='/generate?filiere=matmeca')
                    a(href='/generate?filiere=matmeca')
                        span
                        span
                        span
                        span
                        |       Matmeca
                .elec
                form(method='POST' action='/generate?filiere=elec')
                    a(href='/generate?filiere=elec')
                        span
                        span
                        span
                        span
                        |       Electronique



                

                        